/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2023年4月20日, 下午1:21:43
    Author     : asus
*/
.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #000000;
  
}

.sidebar {
    float: left;
    display: flex;
    flex-direction: column;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #ADD8E6;
    padding: 10px;
    box-sizing: border-box;
}

.sidebar button {
    margin-bottom: 10px;
}

.content {
    margin-left: 200px;
    margin-top: 100px;
    padding: 10px;
}


.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b3cde0; 
    padding: 20px;
    border-radius: 5px;
}

.link-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.link-button:hover {
    background-color: #45a049;
}

.bottom-right {
  position: fixed;
  bottom: 0;
  right: 0;
}

.top-right {
  position: fixed;
  top: 0;
  right: 0;
}
