<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
    <title>Account</title>
</head>
<body>
    <h:form>
        <h:outputText value="Payment Account: #{freelancerBean.freelancerPaymentAccount}" /><br/>
    </h:form>
</body>
</html>