<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/csslayout.css"/>
        <title>Delete Freelancer</title>
    </h:head>
    <h:body>
        <h:form>
            <h:outputLabel for="emailToDelete" value="Email to delete:" />
            <br/>
            <h:inputText id="emailToDelete" value="#{administratorBean.emailToDelete}" />
            <br/>
            <h:commandButton value="Delete Freelancer" action="#{administratorBean.deleteFreelancer}" />
        </h:form>

        <br/>
        <button onclick="location.href = 'administratorMain.xhtml'">Back</button>
    </h:body>
</html>
