<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/csslayout.css"/>
        <title>Administrator  Register</title>
    </h:head>
    <h:body >
            <div class="main">
                <h1>Administrator  Register</h1>
                <h:form>
                    Please enter your Name:<h:inputText value="#{login_signupBean.name}" styleClass="link-button"/><br/>
                    Please enter your Email:<h:inputText value="#{login_signupBean.email}" styleClass="link-button"/><br/>
                    Please enter your Password:<h:inputText value="#{login_signupBean.password}" styleClass="link-button"/><br/>
                    <h:commandButton value="submit" action="#{login_signupBean.administratorsignup()}" styleClass="link-button"/>
                    <h:commandButton value="back" action="index" styleClass="link-button"/>
                </h:form>
            </div>
    </h:body>
</html>



