<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="css/csslayout.css"/>
            <title>Administrator Main</title>
    </h:head>
    
    <h:body>
        
        <dev class="sidebar"> 
            <button class="link-button" onclick="location.href='freelancerRegister.xhtml'">Add Freelaner</button>
            <button class="link-button" onclick="location.href='adminDelFreelancer.xhtml'">Del Freelaner</button>
            <button class="link-button" onclick="location.href='providerRegister.xhtml'">Add Provider</button>
            <button class="link-button" onclick="location.href='adminDelProvider.xhtml'">Del Provider</button>
            <button class="link-button" onclick="location.href='index.xhtml'">Logout</button>
        </dev>
        
    </h:body>
</html>

