<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/csslayout.css"/>
        <title>Administrator  Login</title>
    </h:head>
    <h:body>
        <div class="bottom-right">
            <ui:insert name="bottom-right">
                <ui:include src="/template/Signatures.xhtml"/>
            </ui:insert>
        </div>
        

        <div class="main"> 
            <h2>Administrator Login</h2>
            <h:form>
                <h:outputLabel value="Email: " for="email"/>
                <h:inputText id="email" value="#{login_signupBean.loginEmail}" required="true" styleClass="link-button" />
                <br />
                <h:outputLabel value="Password: " for="password" />
                <h:inputSecret id="password" value="#{login_signupBean.loginPassword}" required="true" styleClass="link-button" />
                <br />
                <h:commandButton value="Login" action="#{login_signupBean.administratorLogin}" styleClass="link-button" />
                <h:commandButton value="back" action="index" immediate="true" styleClass="link-button"/>
            </h:form>
        </div>
    </h:body>
</html>

