<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:dataTable value="#{freelancerBean.applications()}" var="job">
    <h:column>
        <f:facet name="header">JOBID</f:facet>
        #{job.JOBID} 
    </h:column>
    <h:column>
        <f:facet name="header">TITLE</f:facet>
        #{job.APPLICATIONID}
    </h:column>
    <h:column>
        <f:facet name="header">STATUS</f:facet>
        #{job.STATUS}
    </h:column>
            <h:column>
                <f:facet name="header">Action</f:facet>
                <h:form>
                <h:commandButton value="REVOKE" action="#{freelancerBean.revokeapp()}"  >
                <f:setPropertyActionListener target="#{freelancerBean.selectedJobId}" value="#{job.JOBID}" />
                </h:commandButton>
                </h:form>
            </h:column>
</h:dataTable>
    </h:body>
</html>
