<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="css/csslayout.css"/>
            <title>Freelancer Profiles</title>
    </h:head>

    <h:body>
        <div class="sidebar">
            <button class="link-button" onclick="location.href='freelancerMain.xhtml'">Profile</button>
            <button class="link-button" onclick="location.href='freelancerFindjob.xhtml'">Finding Job</button>
            <button class="link-button" onclick="location.href='freelancerApplication.xhtml'">My Application</button>
            <button class="link-button" onclick="location.href='account.xhtml'">Account</button>
            <button class="link-button" onclick="location.href='index.xhtml'">Logout</button>
        </div>

        <div class="top">
            <h1>Profile</h1>
        </div>
        
        <div class="bottom-right">
            <ui:insert name="bottom-right">
                <ui:include src="/template/Signatures.xhtml"/>
            </ui:insert>
        </div>
       

        <div class="content">
            <h:form>
                <h:outputLabel for="ID" value="ID:" styleClass="inf-table"/>
                <h:outputText id="ID" value="#{freelancerBean.showfreelancerid()}"/>
                <br/>
                <h:outputLabel for="name" value="name:" styleClass="inf-table"/>
                <h:inputText id="name" value="#{freelancerBean.name}" p:placeholder="#{freelancerBean.showfreelancername()}"/>
                <br/>
                <h:outputLabel for="e-mail" value="e-mail:" styleClass="inf-table"/>
                <h:outputText id="e-mail" value="#{freelancerBean.showfreelanceremail()}" />
                <br/>
                <h:outputLabel for="skills" value="list of skills:" styleClass="inf-table"/>
                <h:inputText id="skills" value="#{freelancerBean.skills}" p:placeholder="#{freelancerBean.showfreelancerskills()}"/>
                <br/>
                <h:outputLabel for="message" value="message:" styleClass="inf-table"/>
                <h:inputTextarea id="message" value="#{freelancerBean.message}" p:placeholder="#{freelancerBean.showfreelancermessage()}"/>
                <br/>
                <h:commandButton value="SAVE" action="#{freelancerBean.updateFreelancerInfo()}" styleClass="link-button" style="display: block; margin: 0 auto;"/>
            </h:form>
        </div>
    </h:body>
</html>
