<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:dataTable value="#{freelancerBean.searchbykeywords()}" var="job">
    <h:column>
        <f:facet name="header">JOBID</f:facet>
        #{job.JOBID}
    </h:column>
    <h:column>
        <f:facet name="header">TITLE</f:facet>
        #{job.TITLE}
    </h:column>
    <h:column>
        <f:facet name="header">KEYWORDS</f:facet>
        #{job.KEYWORDS}
    </h:column>
    <h:column>
        <f:facet name="header">DESCRIPTION</f:facet>
        #{job.DESCRIPTION}
    </h:column>
    <h:column>
        <f:facet name="header">PAYMENT_OFFER</f:facet>
        #{job.PAYMENT_OFFER}
    </h:column>
    <h:column>
        <f:facet name="header">STATUS</f:facet>
        #{job.STATUS}
    </h:column>
    <h:column>
        <f:facet name="header">PROVIDERID</f:facet>
        #{job.PROVIDERID}
    </h:column>
</h:dataTable>
    </h:body>
</html>