<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Job List</title>
</h:head>
<h:body>
    <h:form>
        <h:outputLabel value="Search by Job ID: " for="searchById" />
        <h:inputText id="searchById" value="#{freelancerBean.ID}" />
        <h:commandButton value="Search" action="freelancerjobid" />
        <br />
        <h:outputLabel value="Search by Keywords: " for="searchByKeywords" />
        <h:inputText id="searchByKeywords" value="#{freelancerBean.keywords}" />
        <h:commandButton value="Search" action="freelancerjobkeywords" />
    </h:form>
    <h:dataTable value="#{freelancerBean.showalljobs()}" var="job">
    <h:column>
        <f:facet name="header">JOBID</f:facet>
        #{job.JOBID} 
    </h:column>
    <h:column>
        <f:facet name="header">TITLE</f:facet>
        #{job.TITLE}
    </h:column>
    <h:column>
        <f:facet name="header">KEYWORDS</f:facet>
        #{job.KEYWORDS}
    </h:column>
    <h:column>
        <f:facet name="header">DESCRIPTION</f:facet>
        #{job.DESCRIPTION}
    </h:column>
    <h:column>
        <f:facet name="header">PAYMENT_OFFER</f:facet>
        #{job.PAYMENT_OFFER}
    </h:column>
    <h:column>
        <f:facet name="header">STATUS</f:facet>
        #{job.STATUS}
    </h:column>
    <h:column>
        <f:facet name="header">PROVIDERID</f:facet>
        #{job.PROVIDERID}
    </h:column>
    <h:column>
                <f:facet name="header">Action</f:facet>
                <h:form>
                <h:commandButton value="APPLY" action="#{freelancerBean.applyjob()}"  >
                <f:setPropertyActionListener target="#{freelancerBean.selectedJobId}" value="#{job.JOBID}" />
                </h:commandButton>
                </h:form>
            </h:column>
</h:dataTable>
</h:body>
</html>



