<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="css/csslayout.css"/>
        <title>Administrator  Register</title>
    </h:head>
    
    <h:body>
        <div class="main">
            <h2>Select your role to Login</h2>
            <h:link value="Freelancer Login" outcome="freelancerLogin" styleClass="link-button"/>
            <br />
            <h:link value="Provider Login" outcome="providerLogin" styleClass="link-button"/>
            <br />
            <h:link value="Administrator Login" outcome="administratorLogin" styleClass="link-button"/>

            <h2>Register</h2>
            <h:link value="Freelancer Register" outcome="freelancerRegister" styleClass="link-button"/>
            <br />
            <h:link value="Provider Register" outcome="providerRegister" styleClass="link-button"/>
            <br />
            <h:link value="Administrator Register" outcome="administratorRegister" styleClass="link-button"/>
        </div>
    </h:body>
</html>
