<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
    <title>Provider View Jobs</title>
</head>
<body>
    <h2>Provider View Jobs</h2>
    
    <f:event listener="#{providerBean.fetchJobs}" type="preRenderView" />
    
    <h:form>
        <h:dataTable value="#{providerBean.jobs}" var="job" styleClass="jobs-table" headerClass="jobs-header" rowClasses="jobs-row">
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Job ID" />
                </f:facet>
                #{job.JOBID}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Title" />
                </f:facet>
                #{job.TITLE}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Status" />
                </f:facet>
                #{job.STATUS}
            </h:column>
            <h:column>
                <f:facet name="header">
                    <h:outputText value="Action" />
                </f:facet>
                <h:commandButton value="Revoke" action="#{providerBean.revokeJob(job.JOBID)}" rendered="#{job.STATUS eq 'open'}" />
            </h:column>
        </h:dataTable>
    </h:form>
    
</body>
</html>