<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Job Applications</title>
    </h:head>
    <h:body>
       <h:dataTable value="#{providerBean.getApplicationsWithMessages()}" var="jobapplication">
            <h:column>
                <f:facet name="header">APPLICATIONID</f:facet>
                #{jobapplication.APPLICATIONID} 
            </h:column>
            <h:column>
                <f:facet name="header">JOBID</f:facet>
                #{jobapplication.JOBID} 
            </h:column>
            <h:column>
                <f:facet name="header">FREELANCERID</f:facet>
                #{jobapplication.FREELANCERID} 
            </h:column>
            <h:column>
                <f:facet name="header">STATUS</f:facet>
                #{jobapplication.STATUS}
            </h:column>
            <h:column>
                <f:facet name="header">Freelancer Message</f:facet>
                #{jobapplication.freelancerMessage}
            </h:column>
            <h:column>
                <f:facet name="header">Action</f:facet>
                <h:form>
                    <h:commandButton value="ACCEPT" action="#{providerBean.acceptapp()}"  >
                        <f:setPropertyActionListener target="#{providerBean.selectedJobId}" value="#{jobapplication.JOBID}" />
                        <f:setPropertyActionListener target="#{providerBean.selectedFreelancerId}" value="#{jobapplication.FREELANCERID}" />
                    </h:commandButton>
                    <h:commandButton value="COMPLETED" action="#{providerBean.completedapp()}"  >
                        <f:setPropertyActionListener target="#{providerBean.selectedJobId}" value="#{jobapplication.JOBID}" />
                        <f:setPropertyActionListener target="#{providerBean.selectedFreelancerId}" value="#{jobapplication.FREELANCERID}" />
                    </h:commandButton>
                </h:form>
            </h:column>
        </h:dataTable>
    </h:body>
</html>
