<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
    <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="css/csslayout.css"/>
            <title>Facelets Template</title>
    </h:head>

    <h:body>
        <div class="sidebar">
            <button class="link-button" onclick="location.href='providerMain.xhtml'">Create Job</button>
            <button class="link-button" onclick="location.href='providerViewJob.xhtml'">View  Job</button>
            <button class="link-button" onclick="location.href='provideracceptapps.xhtml'">Manage Job</button>
            <button class="link-button" onclick="location.href='index.xhtml'">Logout</button>
        </div>

        <div class="top">
            <h1>Profile</h1>
        </div>
        <div class="content">

            <h2>Create Job</h2>
            <h:form>
                <h:outputLabel for="TITLE" value="Title:"/>
                <h:inputText id="TITLE" value="#{providerBean.TITLE}" p:placeholder="#{providerBean.TITLE}"/>
                <br/>
                <h:outputLabel for="DESCRIPTION" value="DESCRIPTION:"/>
                <h:inputTextarea id="DESCRIPTION" value="#{providerBean.DESCRIPTION}" p:placeholder="#{providerBean.DESCRIPTION}"/>
                <br/>
                <h:outputLabel for="KEYWORDS" value="KEYWORDS"/>
                <h:inputTextarea id="KEYWORDS" value="#{providerBean.KEYWORDS}" p:placeholder="#{providerBean.KEYWORDS}"/>
                <br/>
                <h:outputLabel for="PAYMENT_OFFER" value="PAYMENT_OFFER"/>
                <h:inputTextarea id="PAYMENT_OFFER" value="#{providerBean.PAYMENT_OFFER}" p:placeholder="#{providerBean.PAYMENT_OFFER}"/>
                <br/>
                <h:commandButton value="SAVE" action="#{providerBean.publicJob()}"/>
            </h:form>
        </div>
    </h:body>
</html>
