<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="css/csslayout.css"/>
            <title>Provider Register</title>
    </h:head>
    <h:body>
        <div class="main">
            <h1>Provider Register</h1>
            <h:form>
                Please enter your name: <h:inputText value="#{login_signupBean.name}"/><br/>
                Please enter your Email:<h:inputText value="#{login_signupBean.email}"/><br/>
                Please enter your Password:<h:inputText value="#{login_signupBean.password}"/><br/>
                <h:commandButton value="submit" action="#{login_signupBean.providersignup()}"/>
                <h:commandButton value="back" onclick="window.history.back(); return false;" styleClass="link-button"/>
            </h:form>
        </div>
    </h:body>
</html>
