<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <h:outputStylesheet name="css/csslayout.css"/>
            <title>Registration Successful!</title>
    </h:head>
    
    <h:body>
        <div class="main">
            <h2>Registration Successful!</h2>
            <h:form>
                <h:commandButton value="OK" onclick="window.history.back(); return false;"/>
            </h:form>
        </div>
    </h:body>
</html>


